__pycache__/AVLTree.cpython-39.pyc
__pycache__/print_tree.cpython-39.pyc
__pycache__/AVLTree.cpython-39.pyc
__pycache__/print_tree.cpython-39.pyc
__pycache__/AVLTree.cpython-39.pyc
__pycache__/print_tree.cpython-39.pyc
__pycache__/print_tree.cpython-39.pyc
__pycache__/plotting.cpython-39.pyc
__pycache__/AVLTree.cpython-39.pyc
__pycache__/AVLTree.cpython-39.pyc
